@import "./vars";

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222323;
  font-size: $font_size_normal;
  div.option {
    font-size: 12px;
    color: white;
    padding: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  div.option_contact {
    a {
      padding-left: 10px;
      padding-right: 10px;
      color: $main_color;
    }
  }
}
