@import "./vars";
a {
  text-decoration: none;
}
nav.main-menu {
  background-color: $main_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  div.nav_options {
    ul {
      display: flex;
      li {
        list-style: none;
        padding-left: 20px;
        a {
          color: $link_dark;
          font-size: $font_size_normal;
        }
      }
    }
  }
}
