@import "./vars";

div.descripcion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 0px;

  div.card_cats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;

    div.row {
      img {
        width: 240px;
      }
    }
    div.content {
      padding-left: 25px;
      padding-right: 25px;
      div.texto {
        h2 {
          padding-top: 50px;
          text-align: justify;
        }
        p {
          margin-top: 10px;
        }
      }
    }
  }
}
