@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import "./vars";
@import "./nav";
@import "./header";
@import "./products";
@import "./benefic";
@import "./menciones";
@import "./footer";
@import "./animations";
@import "./venta";
@import "./faqs";
@import "./product";
@import "./exito";
@import "./falla";

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}
